<div class="row">
	<div class="col-md-3">
		<%= render 'skill_menu' %>
	</div>
	<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			Perks
		</div>

		<div class="panel-body">
			<div class="container">
				<%= form_for @skill do |f| %>

					<div class="row form-group">
						<div class="col-md-4">
							<%= f.check_box :is_skype %> Skype
						</div>
						<div class="col-md-4">
							<%= f.check_box :is_discord %> Discord Server
						</div>
						<div class="col-md-4">
							<%= f.check_box :is_steam %> Steam VoiceChat
						</div>
					
					</div>

					<div class="row form-group">
						<div class="col-md-4">
							<%= f.check_box :is_ip %> Meet In Person
						</div>
						<div class="col-md-4">
							<%= f.check_box :is_fi %> Freebies
						</div>
					</div>

					<br/><br/>

					<div class="text-center">
						<%= f.submit "Save", class: "btn btn-form" %>
					</div>
				<% end %>
			</div>
		</div>

	</div>
	</div>
</div>




























